<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>welldone.png</key>
	<string>welldone.png</string>
	<key>next_step.png</key>
	<string>next_step.png</string>
	<key>btn_alert_no_normal.png</key>
	<string>btn_alert_no_normal.png</string>
	<key>game_btn_notice.png</key>
	<string>game_btn_notice.png</string>
	<key>game_title.png</key>
	<string>game_title.png</string>
	<key>navigation_center.png</key>
	<string>navigation_center.png</string>
	<key>youyitix.png</key>
	<string>youyitix.png</string>
	<key>经典</key>
	<string>经典</string>
	<key>零横式</key>
	<string>零横式</string>
	<key>一横式</key>
	<string>一横式</string>
	<key>二横式</key>
	<string>二横式</string>
	<key>三横式</key>
	<string>三横式</string>
	<key>四横式</key>
	<string>四横式</string>
	<key>五横式</key>
	<string>五横式</string>
	<key>成就</key>
	<string>成就</string>
	<key>移除广告</key>
	<string>移除广告</string>
	<key>排行榜</key>
	<string>排行榜</string>
	<key>商店</key>
	<string>商店</string>
	<key>每日登录奖励：</key>
	<string>每日登录奖励：</string>
	<key>今日可领取钻石</key>
	<string>今日可领取钻石</string>
	<key>今日奖励已领取</key>
	<string>今日奖励已领取</string>
	<key>提示</key>
	<string>提示</string>
	<key>提示：</key>
	<string>提示：</string>
	<key>收集</key>
	<string>收集</string>
	<key>个</key>
	<string>个</string>
	<key>成就奖励：</key>
	<string>成就奖励：</string>
	<key>对不起，你当前的成就值没有达到领取要求</key>
	<string>对不起，你当前的成就值没有达到领取要求</string>
	<key>花费1个钻石获取提示？</key>
	<string>花费1个钻石获取提示？</string>
	<key>是否重新开始游戏？</key>
	<string>是否重新开始游戏？</string>
	<key>排名</key>
	<string>排名</string>
	<key>共</key>
	<string>共</string>
	<key>位玩家</key>
	<string>位玩家</string>
	<key>完成关卡</key>
	<string>完成关卡</string>
	<key>英雄</key>
	<string>英雄</string>
	<key>钻石不足，您可以到商店购买</key>
	<string>钻石不足，您可以到商店购买</string>
	<key>钻石不足，您观看视频获取钻石</key>
	<string>钻石不足，您观看视频获取钻石</string>
	<key>名次</key>
	<string>名次</string>
	<key>是否退出游戏？</key>
	<string>是否退出游戏？</string>
	<key>数据加载失败,请重试!</key>
	<string>数据加载失败,请重试!</string>
	<key>加载数据......</key>
	<string>加载数据......</string>
	<key>暂时没有数据!</key>
	<string>暂时没有数据!</string>
	<key>获取钻石</key>
	<string>获取钻石</string>
	<key>看视频赠送钻石</key>
	<string>看视频赠送钻石</string>
	<key>今日剩余观看次数：</key>
	<string>今日剩余观看次数：</string>
	<key>观看视频</key>
	<string>观看视频</string>
	<key>警告</key>
	<string>警告</string>
	<key>领取钻石</key>
	<string>领取钻石</string>
	<key>今日无可观看视频</key>
	<string>今日无可观看视频</string>
	<key>视频广告加载失败，请检查网络，重新加载！</key>
	<string>视频广告加载失败，请检查网络，重新加载！</string>
</dict>
</plist>
